.about {
  display: flex;
  flex-direction: column;
  gap: 10px; // Espacement entre les sections de la page
  width: 95%;
  margin: 0 auto; // Centrage de la page

  @media screen and (max-width: 768px) {
    gap: 0; // Suppression de l'espacement sur petits écrans
  }
}
