// Styles pour la page d'erreur
body {
  max-width: 1440px; // Limite la largeur de la page d'erreur
  margin: 0 auto;
  height: 100vh;
  width: 100%;

  .error {
    display: flex;
    flex-direction: column;
    justify-content: center; // Centre le contenu verticalement
    width: 100%;
    height: 100%;
  }
}
