.error404 {
  display: flex;
  flex-direction: column;
  align-items: center; // Centre horizontalement tous les éléments du composant
  height: 70vh;

  @media screen and (max-width: 768px) {
    justify-content: center; // Centre le contenu verticalement sur petits écrans
  }

  h1 {
    font-family: Montserrat;
    font-size: 288px;
    font-weight: bold;
    text-align: center;
    color: #ff6060;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 96px; // Taille réduite pour les petits écrans
      line-height: 137px;
      margin-bottom: 100px;
    }
  }

  p {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #ff6060;
    margin-bottom: 70px;

    @media screen and (max-width: 1440px) {
      font-size: 30px; // Taille ajustée pour les écrans larges intermédiaires
      line-height: 30px;
      text-align: center;
      margin-bottom: 100px;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px; // Taille réduite pour petits écrans
      line-height: 26px;
      text-align: center;
      padding: 0 30px; // Ajout de padding pour mieux centrer le texte
    }
  }

  ul {
    li {
      text-decoration: underline; // Style souligné pour le lien de retour à l'accueil
      list-style: none;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      color: #000000;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        font-size: 14px; // Taille de police réduite pour petits écrans
        line-height: 20px;
      }
    }
  }
}
