header {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  padding-bottom: 20px;

  img {
    // Réduction de la taille du logo sur les petits écrans
    @media screen and (max-width: 768px) {
      width: 120px;
    }
  }

  .navigation {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      @media screen and (max-width: 1440px) {
        justify-content: space-around;
      }

      a {
        text-decoration: none;
        list-style: none;
        color: #000000;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: medium;
        margin-left: 50px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
          text-transform: uppercase;
          margin-left: 20px;
        }

        &.nav-underline {
          text-decoration-line: underline; // Souligne le lien actif
        }
      }
    }
  }
}
