.thumb{
  background-color: #FF6060;
  width: 100%;
  height: 340px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, #FF6060 0%,#FF6060 100%);
  position: relative;
  cursor: pointer;
  @media screen and (max-width:768px) {
    height: 255px;
   }
   img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
   }
  h2{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: 20%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.257);
  }
}