.thumb {
height: 340px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(180deg, #FF6060 0%,#FF6060 100%);
@media screen and (max-width:768px) {
  height: 255px;
 }
h2{
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
}